<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1027892236020-dmu7cjtn45b5bf9r7o9sr2qvg8esg0i6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1027892236020-dmu7cjtn45b5bf9r7o9sr2qvg8esg0i6</string>
	<key>API_KEY</key>
	<string>AIzaSyBYOazu4SaJRPAi3n0NJRGnBSavjtWT8yI</string>
	<key>GCM_SENDER_ID</key>
	<string>1027892236020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lucasWu.FirebaseTutorial</string>
	<key>PROJECT_ID</key>
	<string>appworksdemo</string>
	<key>STORAGE_BUCKET</key>
	<string>appworksdemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027892236020:ios:b471b8352c2bc7fc</string>
	<key>DATABASE_URL</key>
	<string>https://appworksdemo.firebaseio.com</string>
</dict>
</plist>